body {
  background-repeat: space;
  background-position: center;
  background-color: #fff;
  color: #800080;
}

.navbar-laravel {
  background-color: #00ff00;
  box-shadow: inset 5em 1em gold;
}

.navbar-brand {
  color: #800080 !important;
}

.nav-link {
  color: #800080 !important;
}

.table-dark {
  color: #800080;
}

.list-group-item {
  border-color: #800080;
  background-color: #800080;
}

.login-box {
  background-color: rgba(0, 0, 255, 0.5);
}

.login-header {
  background-color: rgba(0, 0, 255, 0.5);
}

.login-body {
  background-color: rgba(0, 0, 255, 0.5);
}

